*{
	margin:0;
	padding:0;
}

html{
	overflow:hidden;
}

body{
	font:15px/1.3 Arial, sans-serif;
	z-index:1;
	background-color: #fdf6f2;
}

.container {
    background-color: #eeb9a2;
    max-width: 500px;
    height: 150px;
    border: 25px solid rgb(204, 202, 202);
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
    font-size: 40px;
    text-align: center;
    position: relative;
    color: rgb(167,141,138);
    width: 100%;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
